* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}

.container {
  padding: 16px 0;
}

.row {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 16px;
}

body {
  background-color: #333333;
}

.color__text {
  color: #ff3737;
}

.no__click {
  cursor: not-allowed;
}

input {
  transition: all 300ms ease;
}

input:hover {
  background-color: rgb(204, 204, 204);
}

/* NAV */

.nav__main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #242424;
  border-radius: 100px;
}

.nav__left {
  display: flex;
  align-items: center;
  padding: 12px;
  box-shadow: 0px 0px 10px #ec5b5b;
  border-radius: 100px;
}

.nav__right {
  padding-right: 8px;
}

.web__title {
  filter: drop-shadow(0px 0px 10px #ec5b5b);
  color: rgb(247, 189, 189);
  font-size: 32px;
  padding-left: 8px;
}

.main__logo--wrapper {
  width: 60px;
  padding: 8px;
}

.main__logo {
  width: 100%;
  filter: drop-shadow(0px 0px 10px #ec5b5b);
}

.nav__links {
  filter: drop-shadow(0px 0px 10px #ec5b5b);
  padding-right: 16px;
  font-size: 18px;
  transition: all 300ms ease;
}

.nav__link:hover,
.link:hover {
  color: white;
  transition: color 300ms ease;
}

.nav__link {
  padding: 0 24px;
  color: rgb(247, 189, 189);
  position: relative;
}

.link__hover-effect:after {
  content: "";
  position: absolute;
  height: 3px;
  width: 0;
  bottom: -3px;
  right: 10px;
  transition: all 300ms ease;
  background-color: #ec5b5b;
}

.link__hover-effect:hover:after {
  width: 80%;
  left: 10px;
}

.nav__links--primary:hover {
  background-color: #ec5b5b;
  transition: background 250ms ease;
}

.nav__links--primary {
  border: 2px solid #ec5b5b;
  background-color: #ff3737;
  font-weight: 600;
  border-radius: 100px;
  padding: 10px 16px;
}

/* MAIN */

.background__wrapper {
  border: 16px solid #242424;
  margin: 16px 0;
  border-radius: 8px;
}

.background {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 80vh;
  width: 100%;
  background-image: url(./assets/background__img.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  
}

.main__title {
  padding: 90px 12px;
  background-color: rgb(240, 230, 230);
  box-shadow: 0 0 10px white;
  border: 1px solid white;
  transform: translateY(-130px);
  max-width: 680px;
  font-size: 45px;
  text-align: center;
  text-shadow: 0px 0 15px rgba(0, 0, 0, 0.363);
}

.search__text {
  padding: 12px;
  border: 1px solid #333333;
  border-radius: 15px;
  background-color: #333333;
  color: rgb(247, 189, 189);
  text-shadow: 0 0 15px #ec5b5b;
  transform: translateY(-120px);
  filter: drop-shadow(0px 0px 10px #ec5b5b);
}

.search__wrapper {
  position: relative;
  text-align: center;
}

.search__bar {
  border: none;
  outline: 1px solid #ec5b5b;
  transform: translateY(-110px);
  padding: 8px 8px 8px 24px;
  border-radius: 100px;
  width: 450px;
  max-width: 450px;
  font-size: 16px;
  font-weight: 400;
  filter: drop-shadow(0px 0px 10px #ec5b5b);
}

.search__icon {
  content: '';
  position: absolute;
  border: 1px solid #ff3737;
  background-color: #ff3737;
  border-radius: 9999px;
  padding: 4px 8px;
  color: white;
  text-align: center;
  bottom: 114.7px;
  right: 8px;
  transition: all 300ms ease;
}

.btn__hover:hover {
  background-color: white;
  color: #ff3737;
}

/* FOOTER */

footer {
  margin-top: 24px;
  width: 100%;
  background-color: #242424;
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.logo__wrapper {
  border: 1px solid #ec5b5b;
  filter: drop-shadow(0px 0px 10px #ec5b5b);
  border-radius: 16px;
  padding: 8px 12px;
  background-color: #333333;

}

.footer__logo {
  width: 60px;
  padding: 8px;
}

.footer__img {
  width: 100%;
  filter: drop-shadow(0px 0px 10px #ec5b5b);
}

.footer__links {
  padding: 24px 0;
  filter: drop-shadow(0px 0px 10px #ec5b5b);
}

.link {
  color: rgb(247, 189, 189);
  padding: 8px 24px;
  font-size: 18px;
  position: relative;
}

.copyright {
  color: rgb(247, 189, 189);
  filter: drop-shadow(0px 0px 10px #ec5b5b);
}

/* MOVIE HTML */

.movie__wrapper {
  background: #242424;
  padding: 24px;
  border-radius: 15px;
}

.movies {
  display: flex;
  flex-wrap: wrap;
}

.movie {
  width: calc(100% / 4);
  padding: 16px;
  transition: all 320ms ease;
}

.movie:hover {
  transform: scale(1.05);
  filter: drop-shadow(0px 0px 10px #85858571);
  background-color: #4747472d;
  border-radius: 15px;
}

.movie__img--wrapper {
  border-radius: 15px;
  overflow: hidden;
  padding: 8px;
  background-color: #333333;
  border: 1px solid #ec5b5b;
  filter: drop-shadow(0px 0px 10px #ec5b5b);

}

.movie__img {
  width: 100%;
  border-radius: 15px;
}

.movie__details {
  width: 100%;
  padding: 8px;
  margin-top: 12px;
  background-color: #333333;
  border: 1px solid #ec5b5b;
  filter: drop-shadow(0px 0px 10px #ec5b5b);
  border-radius: 15px;

}

.movie__title, .movie__year {
  color: rgb(247, 189, 189);
  padding: 4px;
}

.search__background {
  background-color: #242424;
  padding: 16px;
  margin: 0 auto;
  width: 75%;
  border-radius: 15px;
}

.movie__search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
}

.movie__search--bar {
  width: 500px;
  border: none;
  outline: 1px solid #ec5b5b;
  padding: 8px 8px 8px 24px;
  border-radius: 100px;
  font-size: 16px;
  font-weight: 400;
  filter: drop-shadow(0px 0px 10px #ec5b5b);
}

#filter {
  padding: 8px;
  border-radius: 100px;
  background-color: #333333;
  border: 1px solid #ec5b5b;
  filter: drop-shadow(0px 0px 10px #ec5b5b);
  color: rgb(247, 189, 189);
  background-color: #ec5b5b;
  text-align: center;
  font-size: 16px;
  transition: all 320ms ease;
}

#filter:hover {
  background-color: white;
  color: #ec5b5b;
}

.search__icon--movie {
  content: '';
  position: absolute;
  top: 4px;
  right: 8px;
  border: 1px solid #ff3737;
  background-color: #ff3737;
  border-radius: 9999px;
  padding: 4px 8px;
  color: white;
  text-align: center;
  transition: all 320ms ease;
}

.movies__loading {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 139px 0;
  font-size: 60px;
  color: #ec5b5b;
}

.movies__loading--spinner {
  display: none !important;
}

.movies__loading .movies__loading--spinner {
  display: block !important;
}

.fa-spinner {
  animation: rotate 600ms infinite linear;
}

@keyframes rotate {
  0%{
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 920px) {
  .movie__search--bar {
    width: 380px;
  }
}

@media (max-width: 768px) {

  .main__title {
    width: 100%;
    max-width: 580px;
  }

  .movie__search--bar {
    width: 100%;
    max-width: 350px;
  }

}

@media (max-width: 576px) {
  .row {
    padding: 0;
  }

  .container {
    padding: 0;
  }

  .nav__main {
    border-radius: 0;
  }

  .nav__left {
    margin: 8px;
    width: 30%;
  }

  .web__title {
    font-size: 24px;
  }

  .nav__links {
    font-size: 16px;
    padding: 0;
  }
  
  .nav__link {
    padding: 0 8px;
  }

  .nav__links--primary {
    padding: 12px;
    margin: 0 8px;
  }

  .main__title {
    width: 100%;
    max-width: 480px;
    padding: 75px 12px;
    margin-bottom: 12px;
    font-size: 38px;
  }

  .search__background {
    margin: 16px auto;
  }

  .movie__search {
    display: flex;
    flex-direction: column;
  }

  .movie__search--bar {
    margin-bottom: 8px;
  }

  .movie__wrapper {
    margin: 16px;
  }

  .movie {
    width: calc(100% / 2);
    padding: 16px;
  }

  .link {
    padding: 0 16px;
  }

  .logo__wrapper {
    margin-top: 16px;
  }

  .copyright {
    margin-bottom: 16px;
  }
}